<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
      <header>
        <div class="px-3 py-2 bg-dark text-white">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center my-2 my-lg-0 text-white text-decoration-none me-lg-auto">
                <img src="/images/logo.png" alt="" class="bi d-block mx-auto mb-1" width="40" height="40" >
                <h1 class="justify-content-center nav-link text-white">ТехноШоп</h1>
              </a>
              
    
              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                  <a href="#" class="nav-link text-white">
                    <img class="bi d-block mx-auto mb-1" width="24" height="24" src="/images/icon_settings.svg">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Панель инструментов
                  </font></font></a>
                </li>
                <li>
                  <a href="#" class="nav-link text-white">
                    <img class="bi d-block mx-auto mb-1" width="24" height="24" src="/images/icon_apps.svg">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Продукция
                  </font></font></a>
                </li>
                <li>
                  <a href="#" class="nav-link text-white">
                    <img class="bi d-block mx-auto mb-1" width="24" height="24" src="/images/icon_hopping_cart.svg">
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Корзина
                  </font></font></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="px-3 py-2 border-bottom mb-3">
          <div class="container d-flex flex-wrap justify-content-end">
    
            <div class="text-end">
              <button type="button" class="btn btn-light text-dark me-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="/authorization.ejs">Авторизоваться</a></font></font></button>
              <button type="button" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="/registration.ejs">Зарегистрироваться</a></font></font></button>
            </div>
          </div>
        </div>
      </header>
      <div class="row container-fluid m-2">

        <div class="col card" style="width: 18rem;">
          <img src="/images/item.jpg" class="card-img-top" alt="..." style=" height: 286px;">
          <div class="card-body">
            <h5 class="card-title">Название</h5>
            <p class="card-text">XXX руб.</p>
            <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>

        <div class="col card" style="width: 18rem;">
          <img src="/images/item.jpg" class="card-img-top" alt="..." style=" height: 286px;">
          <div class="card-body">
            <h5 class="card-title">Название</h5>
            <p class="card-text">XXX руб.</p>
            <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>

        <div class="col card" style="width: 18rem;">
          <img src="/images/item.jpg" class="card-img-top" alt="..." style=" height: 286px;">
          <div class="card-body">
            <h5 class="card-title">Название</h5>
            <p class="card-text">XXX руб.</p>
            <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>

        <div class="col card" style="width: 18rem;">
          <img src="/images/item.jpg" class="card-img-top" alt="..." style=" height: 286px;">
          <div class="card-body">
            <h5 class="card-title">Название</h5>
            <p class="card-text">XXX руб.</p>
            <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>

        <div class="col card" style="width: 18rem;">
          <img src="/images/item.jpg" class="card-img-top" alt="..." style=" height: 286px;">
          <div class="card-body">
            <h5 class="card-title">Название</h5>
            <p class="card-text">XXX руб.</p>
            <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
        
        <div class="col card" style="width: 18rem;">
          <img src="/images/item.jpg" class="card-img-top" alt="..." style=" height: 286px;">
          <div class="card-body">
            <h5 class="card-title">Название</h5>
            <p class="card-text">XXX руб.</p>
            <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>

      </div>

</body>
</html>
